:root {

    /* text colors */
    --main-text-color: #757575;
    --secondary-text-color: #212121;
    --active-text-color: #2196F3;
    --adrress-text-color: #FFFFFF;
    --contact-footer-color: rgba(255, 255, 255, 0.6)
        /* bg-colors */
        --main-bg-color: #E5E5E5;
    --header-bg-color: #FFFFFF;
    --hero-bg-color: #2F303A;
    --ocupation-bg-color: #E5E5E5;
    --team-icons-bg-color: #FFFFFF;
    --team-bg-color: #F5F4FA;
    --footer-bg-color: #2F303A;
    --buttons-bg-color: #F5F4FA;
    --active-btn-color: #2196F3;
    --animation-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

/* Header */

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #2196F3;
    margin-right: 93px;

}



.logo__studio {
    color: #000000;
}

.navigation {
    display: flex;
    padding: 0;

}



.navigation__item:not(:last-child) {
    margin-right: 50px;

}

.header {
    border-bottom: #ECECEC;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.header-conteiner {
    display: flex;
    align-items: center;

}




.list {

    list-style: none;
    margin: 0;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.navigation__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color var(--animation-transition)
}

.navigation__link:hover,
.navigation__link:focus {
    color: var(--active-text-color)
}

.navigation__item {
    position: relative;
}

.current::after {

    position: absolute;
    content: '';
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
}

.header-contact {
    margin-left: auto;

}

.tel {
    margin-left: 50px;
}

.header-contact__link {
    display: inline-flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-text-color);
    transition: color var(--animation-transition);
}

.header-contact__link:hover,
.header-contact__link:focus {
    color: var(--active-text-color);
}

.header-contact__icon {
    fill: currentColor;
    margin-right: 10px;

}

.btn {
    display: block;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--buttons-bg-color);
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 22px;
    border: none;
    transition: color var(--animation-transition);
    transition: background-color var(--animation-transition);

}

.btn:hover,
.btn:focus {
    background-color: var(--active-btn-color);
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__item:not(:last-child) {
    margin-right: 8px;
}

.filter__list {
    display: flex;
    padding: 0;
    justify-content: center;


}



.btn__studio {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: transparent;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #2196F3;
    cursor: pointer;

}

.btn__studio:hover,
.btn__studio:focus {
    background-color: #188ce8;
    color: #FFFFFF;
}

/* Main */
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: var(--main-text-color);

}

.conteiner {
    width: 1200px;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    display: block;
}

.filter {

    margin-bottom: 56px;
}


.section {

    padding-top: 94px;
    padding-bottom: 94px;
}

.typography {

    padding-top: 0;
}

.link {

    text-decoration: none;
}


.hero {
    background-color: var(--hero-bg-color);
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero__header {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}


.overlay {

    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image:
        linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/background-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.is-hidden {

    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop {

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity var(--animation-transition), visibility var(--animation-transition);
    background: rgba(0, 0, 0, 0.2);
    z-index: 5;
}

.modal {
    position: absolute;
    width: 528px;
    min-height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    padding: 40px;
    background-color: var(--header-bg-color);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 4px;
}


.modal-closing {

    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background: transparent;
    cursor: pointer;

}

.modal-closing:hover,
.modal-closing:focus+svg {

    fill: var(--active-btn-color);
}


.modal-close {

    height: 11px;
    width: 11px;

}

.modal__form {

    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.17;
}

.modal__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.modal__label {

    display: inline-block;
    margin-bottom: 4px;
    letter-spacing: 0.01em;
}

.form-field {

    position: relative;
    margin-bottom: 10px;
}



.modal__input {
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    background-color: inherit;
    color: var(--secondary-text-color);
    transition: border-color var(--animation-transition);
}

.modal__input:focus,
.modal__input:hover {

    border-color: var(--active-text-color);
}

.modal__input:focus+.modal__icon,
.modal__input:hover+.modal__icon {

    fill: var(--active-btn-color);
}



.modal__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill var(--animation-transition);
}



.modal-feedback {
    display: block;
    margin-bottom: 20px;
}

.modal__textarea {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 5px;
    outline: transparent;
    background-color: inherit;
    color: var(--secondary-text-color);
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea:focus,
.modal__textarea:hover {
    border-color: var(--active-btn-color);
}

.modal__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px auto;
    letter-spacing: 0.03em;
}

.modal__input-checkbox {
    appearance: none;
    position: absolute;
}

.modal__input-checkbox:checked+.modal__icon-check {

    border: 0;
    background-color: var(--active-btn-color);
    background-image: url(../images/icons/1/Vector.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;

}

.modal__icon-check {
    width: 16px;
    height: 15px;
    display: block;
    margin-right: 8px;
    border: 2px solid var(--secondary-text-color);
    border-radius: 2px;
}

.modal__consent {

    font-size: 14px;
    line-height: 1.71;

}

.modal__link {
    color: var(--active-text-color);
    text-decoration-line: underline;
    font-size: 14px;
    line-height: 1.71;
}

.btn__submit {
    display: block;
    margin: 0 auto;
    padding: 10px 55px 10px 56px;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: 0;
    background-color: var(--active-btn-color);
    color: var(--adrress-text-color);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color var(--animation-transition);
}

.btn__submit:hover,
.btn__submit:focus {
    background: #188ce8;
}

.advantages {

    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

}

.advantages__heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    padding-bottom: 10px;
    text-align: left;
}


.advantages__item:not(:last-child) {
    margin-right: 30px;
}

.advantages__description {
    width: 270px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}

.advantages__icon {

    display: flex;
    min-width: 270px;
    min-height: 120px;
    justify-content: center;
    align-items: center;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    border-radius: 4px;
}


.section__ocuaption {

    padding-top: 0;
}

.ocupation {

    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}



.ocuaption__item:not(:last-child) {
    margin-right: 30px;
}

.section__header {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 50px;
}

.team {

    background-color: #F5F4FA;
}

.team__flex {

    display: flex;
    padding: 0;

}

.team__card {
    flex-basis: calc((100% - 30px * 4)/4);
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__card:not(:last-child) {

    margin-right: 30px;
}

.team__pic {
    height: auto;

}

.team__descr {
    padding-top: 30px;
    padding-bottom: 30px;
}

.spec {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.spec__position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

}

.social__list {

    display: flex;
    padding: 0;
    list-style: none;
    justify-content: center;
    margin-top: 16px;

}



.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #AFB1B8;
    transition: background-color var(--animation-transition);

}

.social__link:hover,
.social__link:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}

.social__icon {
    fill: currentColor;
}

.social__item:not(:last-child) {

    margin-right: 10px;
}

.project__description {
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}



.projects {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    margin-bottom: 4px;
}

.project__type {

    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-text-color);

}


.portfolio {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: -15px;
}

.portfolio__item {
    display: block;
    flex-basis: calc((100% - 30px * 3) / 3);
    margin: 15px;


}

.portfolio__link {

    display: block;
    transition: box-shadow var(--animation-transition);
}


.portfolio__link:hover,
.portfolio__link:focus {

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);

}

.project-overlay {
    position: relative;
    overflow: hidden;
}

.project-overlay__text {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform var(--animation-transition);

}

.portfolio__item:hover .project-overlay__text {
    transform: translateY(0);
}

.client__list {

    display: flex;
    padding: 0;

}


.client__item {

    list-style: none;

}

.client__item:not(:last-child) {
    margin-right: 30px;
}

.client__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    transition: var(--animation-transition);
}

.client__link:hover,
.client__link:focus {
    border-color: #2196F3;
    color: #2196F3;

}

.client__icon {
    fill: currentColor;
}

/* Footer */

.footer {
    background-color: var(--footer-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;

}

.footer__conteiner {
    display: flex;
}

.footer__logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #2196F3;
    display: block;

    margin-bottom: 20px;
}

.logo-footer {

    color: #FFFFFF;
}

.footer__link {

    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    display: block;
    margin-bottom: 9px;
}

.footer__tel {
    margin-bottom: 0;
}


.footer__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer__media {
    margin-left: 70px;
    padding-top: 15px;
}

.footer__list {
    display: flex;
    padding: 0;
}

.footer__item:not(:last-child) {

    margin-right: 10px;
}

.footer__icon-link {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__icon {

    fill: #FFFFFF;

}

.footer__icon-link:hover,
.footer__icon-link:focus {

    background-color: #2196F3;
}

.adress {
    font-style: normal;
    color: var(--adrress-text-color);
    line-height: 1.71;
    margin-bottom: 9px;
}

.footer__form-conteiner {
    margin-left: auto;
    padding-top: 15px;
}

.footer__form-title {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--adrress-text-color);
}

.footer__form-input {

    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding: 0;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: inherit;
    color: var(--adrress-text-color);

}

.footer__btn {
    max-width: 200px;
    max-height: 50px;
    display: inline-flex;
    align-items: center;
    padding: 10px 28px 10px 29px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    background: var(--active-btn-color);
    color: var(--adrress-text-color);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    cursor: pointer;
    transition: background-color var(--animation-transition);
}

.footer__btn-icon {
    align-items: center;
    justify-items: center;
    margin-left: 10px;
    fill: var(--adrress-text-color);
}