.client__list {

    display: flex;
    padding: 0;

}


.client__item {

    list-style: none;

    &:not(:last-child) {
    margin-right: 30px;
    }
}



.client__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    transition: var(--animation-transition);
    
    &:hover,
    &:focus {
        border-color: #2196F3;
        color: #2196F3;

    }

}

.client__icon {
    fill: currentColor;
}