.section__ocupation {

    padding-top: 0;

    @media screen and (max-width:1199px) {
        display: none;
    }
}

.ocupation {

    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.ocuaption__item:not(:last-child) {
    margin-right: 30px;
}