:root {

    /* text colors */
    --main-text-color: #757575;
    --secondary-text-color: #212121;
    --active-text-color: #2196F3;
    --adrress-text-color: #FFFFFF;
    --contact-footer-color: rgba(255, 255, 255, 0.6)
        /* bg-colors */
        --main-bg-color: #E5E5E5;
    --header-bg-color: #FFFFFF;
    --hero-bg-color: #2F303A;
    --ocupation-bg-color: #E5E5E5;
    --team-icons-bg-color: #FFFFFF;
    --team-bg-color: #F5F4FA;
    --footer-bg-color: #2F303A;
    --buttons-bg-color: #F5F4FA;
    --active-btn-color: #2196F3;
    --animation-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}